<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s5">
            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name"
                    required placeholder="Enter Full Name"
                    (change)="onChangeName(employeeService.selectedEmployee.name)">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="address" #name="ngModel"
                    [(ngModel)]="employeeService.selectedEmployee.address" placeholder="Enter Full Address"
                    (change)="onChangeAdd(employeeService.selectedEmployee.address)">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="number" name="number" #name="ngModel"
                    [(ngModel)]="employeeService.selectedEmployee.number" placeholder="Enter Mobile Number"
                    (change)="onChangeNum(employeeService.selectedEmployee.number)">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="number" name="age" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.age"
                    placeholder="Enter Age" (change)="onChangeAge(employeeService.selectedEmployee.age)">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="organisation" #name="ngModel"
                    [(ngModel)]="employeeService.selectedEmployee.organisation" placeholder="Enter Current Organisation"
                    (change)="onChangeOrg(employeeService.selectedEmployee.organisation)">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input name="dob" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.dob" type="date"
                    class="datepicker" required (blur)="onChangeDob(employeeService.selectedEmployee.dob)">
                  <label>Date Of Birth :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="number" name="experience" #name="ngModel"
                    [(ngModel)]="employeeService.selectedEmployee.experience"
                    placeholder="Enter Total Years of Experience"
                    (change)="onChangeExp(employeeService.selectedEmployee.experience)">
                </div>
              </div>
              <div class="row">
                <ejs-richtexteditor id='defaultRTE' [(value)]='value'></ejs-richtexteditor>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right waves-effect indigo" type="button"
                    (click)="resetForm(employeeForm)">Reset</button>
                  <button class="btn btn-custom right waves-effect indigo" type="submit"
                    [disabled]="!employeeForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <hr width="1" size="500">
          <div class="col s7" style="color: black;">
            <table class="responsive-table highlight">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Mobile</th>
                  <th>Organisation</th>
                  <th>Experience</th>
                  <th>Date Of Birth</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let emp of employeeService.employees">
                <td>{{emp.name}}</td>
                <td>{{emp.number}}</td>
                <td>{{emp.organisation}}</td>
                <td>{{emp.experience}}</td>
                <td>{{emp.dob | date:'yyyy-MM-dd'}}</td>
                <td>
                  <a class="action-btn" (click)="onEdit(emp)">
                    <i class="material-icons">edit</i>
                  </a>
                  <a class="action-btn" (click)="onDelete(emp._id,employeeForm)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
