﻿<div class="container" style="text-align: center;padding-top: 100px;">

  <h1>LOGIN</h1>
  <div class="z-depth-1 grey lighten-4 row"
    style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

    <form class="col s12" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" novalidate>
      <div class='row'>
        <div class='col s12'>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input type="number" name="username" #name="ngModel" [(ngModel)]="commonService.selectedUser.username"
            placeholder="Enter phone number" required />
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input type="password" name="password" #name="ngModel" [(ngModel)]="commonService.selectedUser.password"
            placeholder="Enter Password" required />
        </div>
        <label style='float: right;'>
          <a class='pink-text' [routerLink]="['/register']" routerLinkActive="active"><b>Sign Up</b></a>
        </label>
      </div>
      <br />
      <div class='row'>
        <button type='submit' class='col s12 btn btn-large waves-effect indigo'
          [disabled]="!userForm.valid">Login</button>
      </div>

      <br>
      <br>
    </form>
  </div>
</div>
