<!--The content below is only a placeholder and can be replaced.-->
<div class="continer-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
