<div class="container" style="text-align: center;padding-top: 150px;">
  <div class="z-depth-1 grey lighten-4 row"
    style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">


    <p class="lead">I, {{ user.name }}, age {{user.age}} resident of {{user.address}} working with
      {{user.organisation}} having experience of
      {{user.experience}} years.</p>
    <hr class="my-4">
    <div style="text-align: left; padding-top: 15px;">
      <p>Thanks,</p>
      <p>Name : {{user.name}}</p>
      <p>Age : {{user.age}}</p>
      <p>Mobile : {{user.username}}</p>
      <p>Date of Birth : {{user.dob | date:'yyyy-MM-dd'}}</p>
    </div>

    <p class="lead" style="color:#3f51b5 !important;">
      <a class="btn btn-primary btn-lg indigo" role="button" (click)="logout()">Log Out</a>
    </p>
  </div>
</div>
