<div class="container" style="text-align: center;">
  <h1>SIGN UP</h1>

  <div class="z-depth-1 grey lighten-4 col s6"
    style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; float:none">

    <form class="col s12" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

      <div class="input-field col s12">
        <input placeholder="Enter Name" name="name" #name="ngModel" [(ngModel)]="commonService.selectedUser.name"
          type="text" class="validate" required>
      </div>

      <div class="input-field col s12">
        <input placeholder="Enter Address" name="address" #name="ngModel"
          [(ngModel)]="commonService.selectedUser.address" type="text" class="validate" required>
      </div>

      <div class="input-field col s12">
        <input placeholder="Enter Username (Mobile Number)" name="username" #name="ngModel"
          [(ngModel)]="commonService.selectedUser.username" type="number" class="validate" minlength="10" maxlength="10"
          min="1000000000" max="9999999999" required>
      </div>

      <div class="input-field col s12">
        <input placeholder="Enter Age" name="age" #name="ngModel" [(ngModel)]="commonService.selectedUser.age"
          type="Number" class="validate" minlength="1" maxlength="2" min="18" max="99" required>
      </div>

      <div class="input-field col s12">
        <input placeholder="Current Organisation" name="organisation" #name="ngModel"
          [(ngModel)]="commonService.selectedUser.organisation" type="text" class="validate" required>
      </div>

      <div class="input-field col s12">
        <input placeholder="Date Of Birth" name="dob" #name="ngModel" [(ngModel)]="commonService.selectedUser.dob"
          type="date" class="datepicker" required>
      </div>

      <div class="input-field col s12">
        <input placeholder="Total Experience" name="experience" #name="ngModel"
          [(ngModel)]="commonService.selectedUser.experience" type="number" class="validate" minlength="1" maxlength="2"
          min="0" max="99" required>
      </div>

      <div class="input-field col s12">
        <input placeholder="Password" name="password" #name="ngModel" [(ngModel)]="commonService.selectedUser.password"
          type="password" class="validate" required>
      </div>

      <div class='row'>
        <button type='submit' class='col s4 btn btn-large waves-effect indigo' style="float: inherit;"
          [disabled]="!userForm.valid">Register</button>
      </div>
      <br>
      <br>
    </form>
  </div>
</div>
